[submodule "modules/php"]
	path = modules/php
	url = https://github.com/saz/puppet-php.git
	branch = master
[submodule "modules/composer"]
	path = modules/composer
	url = https://github.com/willdurand/puppet-composer.git
	branch = master
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
